<div class="large-8 large-offset-2 columns">
  <div class="row">
      <h1>The Grand Movie Database</h1>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <form action="/movies" method="get">
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse postfix-round">
              <label>
                <div class="small-9 columns">
                    <input type="text" id="query" name="query" placeholder="Find something specific..." />
                </div>
                <div class="small-3 columns">
                  <input type="submit" value="Search" class="button postfix"/>
                </div>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <ul class="movies-list">
    <% @movies_array[(@page - 1) * 20..@page * 20].each do |movie| %>
    <li><a href=<%= "/movies/#{movie[0]}" %>><%= movie[1][0]%></a></li>
    <% end %>
  </ul>

  <% if @searching %>
    <a href="/movies">Clear Search</a>
  <% end %>


  <div class="pagination-centered">
    <ul class="pagination">
      <% search_phrase = @searching ? ("&&query=" + @query) : "" %>

      <!-- "PREV" arrow -->
      <li class="<%= @page == 1 ? "unavailable arrow" : "arrow" %>" >
        <% back_page_url = "/movies?page=#{@page - 1}#{search_phrase}" %>
        <a href="<%= @page != 1 ?  back_page_url : "#" %>"<%=  %>>&laquo;</a>
      </li>

      <!-- Starting elipses, if there are undiplayed previous pages -->
      <% if @page > 5 %>
        <li class="unavailable"><a href="">...</a></li>
      <% end %>

      <% counter = 0 %>
      <!-- Set the number of pages displayed, in case we have only a few -->
      <% max_listed_pages = [8, @num_pages - 1].min%>

      <!-- List nine (or fewer) page numbers for selection -->
      <% while counter <= max_listed_pages %>

        <!-- If we're at the beginning, show numbers starting at 1 -->
        <% if @page <= 5 %>
          <% cur = 1 + counter %>
          <li class=<%= cur == @page ? "current" : "" %>>
            <a href=<%= "/movies?page=#{cur}#{search_phrase}"%> ><%= cur %></a>
          </li>
        <!-- If we're at the end, show numbers ending at the highest page -->
        <% elsif @page >= @num_pages - 4 %>
          <% cur = @num_pages - 8 + counter %>
          <li class=<%= cur == @page ? "current" : "" %>>
            <a href=<%= "/movies?page=#{cur}#{search_phrase}"%> ><%= cur %></a>
          </li>
        <!-- If we're at in the middle, show numbers above and below cur page -->
        <% else %>
          <% cur = @page - 4 + counter %>
          <li class=<%= cur == @page ? "current" : "" %>>
            <a href=<%= "/movies?page=#{cur}#{search_phrase}"%> ><%= cur %></a>
          </li>
        <% end %>
        <% counter += 1 %>
      <% end %>

      <!-- Ending elipses, if there are undiplayed later pages -->
      <% if @page <= @num_pages - 5 %>
        <li class="unavailable"><a href="">...</a></li>
      <% end %>

      <!-- NEXT arrow -->
      <li class="<%= @page == @num_pages ? "unavailable arrow" : "arrow" %>" >
        <% next_page_url = "/movies?page=#{@page + 1}#{search_phrase}" %>
        <a href="<%= @page != @num_pages ?  next_page_url : "#" %>"<%=  %>>&raquo;</a>
      </li>

    </ul>
  </div>
  <!-- pagination ended -->

</div>
