<div class="large-8 large-offset-2 columns">
  <h1><%= @movie_data[0]%></h1>

  <h6>Synopsis:</h6>
  <p class="synopsis"><%= @movie_data[2]%></p>

  <dl class="movie-info">
      <dt>Year:</dt>
      <dd><%= @movie_data[1]%></dd>
      <dt>Rating:</dt>
      <dd><%= @movie_data[3]%></dd>
      <dt>Genre:</dt>
      <dd><%= @movie_data[4]%></dd>
      <dt>Studio:</dt>
      <dd><%= @movie_data[5]%></dd>
  </dl>

  <a href="/movies" class="back"><-- Back to movies list</a>
</div>
